@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');

:root {
  /* COLORS */
  --body-bg: #000;
  --pure-white: #fff;
  --secondary: #007aff;

  /* TYPOGRAPHY */
  --font-family: 'Fira Sans', sans-serif;
  --h1-weight: 500;
  --label-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  color: var(--pure-white);
  font: 16px/26px var(--font-family);
  margin: 0;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--pure-white);
  text-decoration: none;
  width: fit-content;
}

a:hover {
  color: var(--secondary);
}

button {
  height: 3rem;
  padding: 0 1.5rem;
  font-family: var(--font-family);
  font-size: 14px;
  cursor: pointer;
  border-radius: 0;
  transition: border-radius 0.25s ease-out, color 0.25s ease-out,
    background-color 0.25s ease-out;
  border: none;
}

button:hover {
  border-radius: 2rem;
  background-color: var(--secondary);
  color: var(--pure-white);
}

button:focus {
  outline: none;
}

.heading {
  font-weight: var(--h1-weight);
  letter-spacing: 1px;
}

.info__list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 1rem;
  width: 100%;
  max-width: 40rem;
}

.info__item {
  cursor: auto;
}

.info__item:first-of-type {
  grid-column: 1 / 3;
}

.info__item:last-of-type {
  grid-column: 1 / 3;
}

.label__label {
  font-weight: var(--label-weight);
  letter-spacing: 0.5px;
}

.btns__container {
  margin: 2rem 0 4rem 0;
}

.launch {
  padding-top: 2rem;
  border-top: 1px solid white;
}

.launch__image {
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

label[for='launch__name'] {
  display: block;
  margin-top: 1.5rem;
}

.launch__name,
.launch__date,
.launch__time,
.launch__details {
  margin-top: 0.25rem;
}

.launch__name,
.launch__date {
  letter-spacing: 0.5px;
  font-weight: 600;
}
