@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');

:root {
  --body-bg: #000;
  --pure-white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  color: var(--pure-white);
  font: 16px/26px 'Fira Sans', sans-serif;
  margin: 0;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.heading {
  font-weight: 500;
  letter-spacing: 1px;
}

.info__list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 1rem;
  width: 100%;
  max-width: 40rem;
}

.label__label {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.label__li {
  opacity: 0.9;
}

/* .company > :first-child {
  grid-column: 1 / 3;
} */

.info__item :first-of-type {
  grid-column: 1 / 3;
}
